h1{
    text-align: center;
    color: lightseagreen;
    font-family: 'Amatic SC', cursive;
    font-size: 90px;
}

.items{

   text-align: center;
   margin: 40px;

}

.img-thumbnail{
    max-width: 700px;
}

.center{
    background-color: rgb(183, 226, 183)
}


.table-img{
    width: 50px;
    height: auto;
}

.list-position{
    display: inline;
}

.list-img{
    height: 150px;
    margin: 0 auto;
}